.backgroundColor {
    background-color: transparent;
}

.codebannerCls {
    width: 200px;
    border: 4px dashed #CCC;
    height: 200px;
    margin: 0px auto;
    margin-top: 200px;
    margin-bottom: 30px;
}